
<div class="container">
  <br>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.pass %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-warning" %> |
  <%= link_to 'Show posts', microposts_user_path, class: "btn btn-dark" %>
  <br>
  <br>
  <%= link_to 'Back', users_path %> 
  
</div>